{{#each sortedItems as |item|}}
  {{list-item item=item onItemUpdate=(action 'update') onItemDelete=(action 'del')}}
{{/each}}

{{input value=listName enter="create" placeholder="list name ..."}}
<br/>
<br/>
<button {{action 'create'}}>+ Create new list</button>

