{{input value=taskTitle enter="createTask"}}
<button {{action 'createTask'}}>Add</button>

{{#each sortedTasks as |task|}}
  {{task-item task=task onItemUpdate=(action 'updateTask') onItemDelete=(action 'deleteTask')}}
{{/each}}
