body {
  font-family: 'Inconsolata', monospace;
  margin: 0;
}

* {
  box-sizing: border-box;
}

header {
  margin: 8px;
}

header h1 {
  display: inline-block;
}

button, input[type="text"] {
  padding: 5px;
  color: #333;
  border: 1px solid #333;
  background: #fff;
  outline: none;
  font-size: 1em;
}

button:hover {
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.HolyGrail {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.HolyGrail-body {
  display: flex;
  flex: 1;
  margin: 8px;
}

.HolyGrail-content {
  flex: 1;
}

.HolyGrail-nav, .HolyGrail-ads {
  /* 12em is the width of the columns */
  flex: 0 0 12em;
}

.HolyGrail-nav {
  /* put the nav on the left */
  order: -1;
}
.HolyGrail-nav input {
  width: 90%;
}
.HolyGrail-nav .nav-item {
  display: block;
  width: 90%;
  padding: 5px;
  text-decoration: none;
  border: 1px dashed #333;
  color: #333;
}
.HolyGrail-nav .nav-item:hover {
  background: #777;
}
.HolyGrail-nav .nav-item.active {
  background: #333;
}

.HolyGrail-nav .nav-item.active *,
.HolyGrail-nav .nav-item:hover * {
  color: #fff;
}

.done {
  text-decoration: line-through;
}

.online, .offline {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid;
  font-weight: bold;
}

.online {
  color: #02b002;
  border-color: #02b002;
}
.offline {
  color: #d30000;
  border-color: #d30000;
}
