body {
  font-family: 'Inconsolata', monospace;
}

* {
  box-sizing: border-box;
}

.HolyGrail {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.HolyGrail-body {
  display: flex;
  flex: 1;
}

.HolyGrail-content {
  flex: 1;
}

.HolyGrail-nav, .HolyGrail-ads {
  /* 12em is the width of the columns */
  flex: 0 0 12em;
}

.HolyGrail-nav {
  /* put the nav on the left */
  order: -1;
}
.HolyGrail-nav .nav-item {
  display: block;
  width: 90%;
  padding: 5px;
  text-decoration: none;
  border: 1px dashed #333;
  color: #333;
}
.HolyGrail-nav .nav-item:hover {
  background: #777;
}
.HolyGrail-nav .nav-item.active {
  background: #333;
}

.HolyGrail-nav .nav-item.active *,
.HolyGrail-nav .nav-item:hover * {
  color: #fff;
}

.done {
  text-decoration: line-through;
}
