<main class="HolyGrail-content">
  {{outlet}}
</main>
<nav class="HolyGrail-nav">
  <h3>Lists</h3>
  {{list-nav items=model}}
</nav>
<aside class="HolyGrail-ads">
  <h3>DETAIL</h3>
  {{outlet 'aside'}}
</aside>
