<body class="HolyGrail">
  <header>
    <h1>Ember-kinto demo</h1>
    <a href="https://github.com/ptgamr/ember-kinto" target="_blank">[github repo]</a>
    {{online-status onOnLine=(action '_sync') syncing=store.syncing}}
    (the app can still be use when offline)
  </header>
  <div class="HolyGrail-body">
    {{outlet}}
  </div>
  <footer>
    <button {{action 'clearLocalData'}}>CLEAR LOCAL DATA</button>
  </footer>
</body>
